#masthead-ad,
ytd-rich-item-renderer.style-scope.ytd-rich-grid-row #content:has(.ytd-display-ad-renderer),
.video-ads.ytp-ad-module,
tp-yt-paper-dialog:has(yt-mealbar-promo-renderer),
ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-ads"],
#related #player-ads,
#related ytd-ad-slot-renderer,
ytd-ad-slot-renderer,
yt-mealbar-promo-renderer,
ad-slot-renderer,
.ytp-unmute,
a.yt-spec-button-shape-next.yt-spec-button-shape-next--overlay,
ytm-companion-ad-renderer,
.playlist-engagement-panel-top-level-buttons,
.yt-mini-app-container-view-model__background-blur,
.yt-mini-app-container-view-model__background-scrim,
button-view-model:has(svg path[d^="m4 2.999"])
{
    display: none !important;
}
